:host {
    ::ng-deep {
        .navbar-relative {
            position: relative;
            width: 100%;
            padding-top: 10px;
            z-index: 1029;
        }

        .container-fluid {
            padding: 0 !important;
        }

        .menu-conta {
            background-color: var(--primary-color) !important;
            border-radius: 20px !important;
            color: #fff !important;
        }
    }
}