html,
body {
    width: 100%;
    height: 100%;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.card {
    height: 100%;
}

label {
    margin-bottom: 0 !important;
}

.invalid-text {
    color: #f02849;
    font-weight: 400;
}